
@media screen and (max-width: 513px){
	
	#breadcrumb {
		position:relative;
		width:calc(100%-10px);
		top:0px;
		font-size: 20px;
		padding: 0 10px 5px;
	}
	
	#breadcrumb li {
		font-size: 17px;
		padding: 0px;
	}
	
	nav h1 {
		padding: 5px;
	}
	
	nav h1 a {
		font-size: 25px ;
	}
}

@media screen and (min-width:730px){
	
	nav h1 {
		padding: 9px;
	}
	
	nav h1 a {
		font-size: 37px ;
	}
	
}

@media screen and (min-width: 1300px){
	
	.inside #map-container {
	  height: 87%;
	  position: fixed;
	  width: 50%;
	  }
	  
	#restaurant-container, #reviews-container {
	  width: calc(50% - 60px);
	}
}